/* Styles for markdown-rendered content to match Material-UI Typography */

.markdownContent h3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
  margin-bottom: 20px;
  margin-top: 0;
}

.markdownContent h4 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin-bottom: 20px;
  margin-top: 0;
}

.markdownContent h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* First h5 after h4 shouldn't have top margin */
.markdownContent h4 + h5 {
  margin-top: 0;
}

/* Style hr to match IsHr component */
.markdownContent hr {
  border: 1px outset;
  background-color: #08080F;
  color: #08080F;
  height: 2px;
  width: 25%;
  text-align: left;
  margin-left: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Ensure paragraphs have proper spacing */
.markdownContent p {
  margin-top: 0;
  margin-bottom: 1em;
}

/* List styling */
.markdownContent ul {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 40px;
}

.markdownContent li {
  margin-bottom: 0.25em;
}
