* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* font-family and font-size now set in theme.js */
  color: #08080F;
  background-color: #E8F0EC;
}

li {
  margin-bottom: 5px;
}